body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}
  
/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}
  
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}
  
/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

/* Custom CSS */
.btn.btn-primary{
    margin-bottom: 1.5em;
}

.alternative{
    margin: 15px 0px 0px -40px;
    list-style: none;
}    

.right-alternative{
    margin: 15px 0px 0px -40px;
    list-style: none;
    color: rgb(91, 181, 91);
    font-weight: bold;
}

.wrong-alternative{
    margin: 15px 0px 0px -40px;
    list-style: none;
    color: rgb(219, 106, 106);
    font-weight: bold;
}

.altrow {
    background-color: #e0e0e0;
}
.title {
    color: #595c5f;
}

.quiztitle {
    color: #429af8;
    text-align: center;
}

.question {
    color: #74787a;
    margin-top: 10px;
}

hr {
    border-top: 1px bold #868e96;
    height:1px;
  }

.alternative-radio {
    margin: 15px 0px 0px 0px;
}

.details {
    color: #73777a;
}

.instructions {
    font-size: 1.2em;
    font-weight: 450;
    margin-top: 20px;
    color: #64676b;
}

.addquestion {
    margin-top: -60px;
    margin-left: -10px;
}

.loginbtn {
    padding-left: 69px;
    padding-right: 69px;
    margin-top: 10px;
    margin-left: 62px;
}

.loginmsg {
    margin-bottom: 30px;
}

.reg-username {
    margin-left: 64px;
    font-weight: 450;
}

.reg-password1 {
    margin-left: 76px;
    font-weight: 450;
}

.reg-password2 {
    font-weight: 450;
}

.reg-btn {
    margin: 5px 0px 0px 128px;
}

.log-password {
    font-weight: 450;
    margin-left: 11px;
}

.log-username {
    margin-bottom: 0px;
    font-weight: 450;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
      max-width: 46rem;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.15);
    list-style-position: inside;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;    
    border-radius: 3px;
}

.helptext {
    text-align: right;
    font-size: 12px;
    display: inline-block;
}

.helptext2 {
    text-align: right;
    font-size: 12px;
    display: inline-block;
}

.helptext3 {
    text-align: right;
    font-size: 12px;
    display: inline-block;
    width: 100%;
}

.errorlist{
    width: 305px;
    font-size: 12px;
    margin-top: 10px !important;
}

.teste {
    overflow: hidden;
    float: left;
}

.teste2 {
    overflow: hidden;
    float: left;
}

.profile_readonly {
    margin: 0 0 0 0;
    font-weight: bold;
}

.rdonly {
    display: inline-block;
    width: 90px;
    padding: 0;
}

.prf_rdonly {
    width: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
  
    /* Space out the masthead */
    .header {
      margin-bottom: 2rem;
    }
  
  }

