{% extends "base.html" %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<h1 class="title">Login</h1>
<br>
<hr>
<br>
    <p class="alert alert-primary loginmsg" role="alert">Você precisa estar logado para salvar quizes em seu perfil.</p>
    <form method="POST" action="{% url 'login' %}">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <div class="form-group">
                    <label for="id_username" class="log-username">Usuário:</label>
                    {{ form.username }}
                </div>
                <div>
                    <label for="id_password" class="log-password">Senha:</label>
                    {{ form.password }}
                </div>
            </div>
            <div class="col-lg-7 col-sm-12">
                {{ form.non_field_errors }}
            </div>
        </div>
        <input class="btn btn-primary loginbtn" type="submit" value="Entrar"></td>
        <p>Ainda não tem registro? <a href="{% url 'register' %}">Registre-se aqui</a>.</p>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>

{% endblock content %}