{% extends "base.html" %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<h1 class="title">Registro de Usuário</h1>
<br>
<hr>
<br>
    <p class="alert alert-primary loginmsg" role="alert">Insira um nome de usuário e password para registrar.</p>
    <form method="POST" action="">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="id_username" class="reg-username">Usuário:</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <label for="id_password1" class="reg-password1">Senha:</label>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-group">
                    <label for="id_password2" class="reg-password2">Confirmar senha:</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <span class="helptext">Requerido. 150 caracteres ou menos. Letras, digitos e @/./+/-/_ apenas.</span>
                <span class="helptext2">Sua senha não pode ser tão similar às suas outras informações pessoais.<br>
                    Sua senha deve conter ao menos 8 caracteres.<br>
                    Sua senha não pode ser uma senha comumente usada.<br>
                    Sua senha não pode ser toda numérica.<br></span>
                <span class="helptext3">Digite novamente a senha escolhida, para verificação.</span>
            </div>
        </div>
        <input class="btn btn-primary reg-btn" type="submit" value="Registrar">
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>
{% endblock content %}