{% extends "base.html" %}

{% block title %}Responder Quiz{% endblock title %}

{% block content %}
<h1>Responder Quiz</h1>
<form method="post" action="" novalidate>
    <h2>{{ fatherquiz.title }}</h2>
    {% for quiz in quizes %}
        {% csrf_token %}
        <h3>{{ quiz.question }}</h3>
        <input type="radio" name="option" value="{{ quiz.question }}" > {{ quiz.question }}<br>
        <input type="radio" name="option" value="{{ quiz.right_option }}"> {{ quiz.right_option }}<br>
        <input type="radio" name="option" value="{{ quiz.first_option }}"> {{ quiz.first_option }}<br>
        <input type="radio" name="option" value="{{ quiz.second_option }}"> {{ quiz.second_option }}<br>
        <input type="radio" name="option" value="{{ quiz.fourth_option }}"> {{ quiz.fourth_option }}<br><br>
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Conferir resultado">
    <br><br>
  </form> 

{% endblock content %}

