{% extends "base.html" %}

{% block title %}Lista de Quizes{% endblock title %}

{% block nav-answerquiz %}<a class="nav-link active" href="/quiz_list">Responder Quiz</a>{% endblock %}

{% block content %}
<h1 class="title">Lista de Quizes</h1>
<br>
<hr>
<br>
<table class="table table-hover" style="border-collapse:collapse">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
    {% for fatherquiz in fatherquizes %}
        <tr>
            <td><a href="../quiz/{{ fatherquiz.id }}">{{ fatherquiz.id }}</a></td>
            <td>{{ fatherquiz.title }}</td>
            <td>{{ fatherquiz.username }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}