{% extends "base.html" %}

{% block title %}Criar Quiz{% endblock title %}

{% block content %}
<h2>Criar Quiz</h2>
<br/>
{% if submitted %}
<p class="success">Seu quiz foi submetido com sucesso. Obrigado.</p>

{% else %}
<form action="" method="post" novalidate>
    {% csrf_token %}
    <div class="form-group">
    {{ fatherquizform }}
    </div>
    <br/>
    <div class="form-group">
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
    </div>
    <button type="button" class="btn btn-link">Adicionar nova pergunta</button><br/>
    <br/>
    <input class="btn btn-primary" type="submit" value="Salvar Quiz" />   
</form>
{% endif %}

{% endblock content %}