{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Home{% endblock title%}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static '/images/icon.png' %}" type="image/gif" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
        <header class="header clearfix">
          {% block nav %}
            <nav>
              <ul class="nav nav-pills float-right" id="nav">
                <li class="nav-item">
                  {% block nav-home %}<a class="nav-link" href="/">Home</a>{% endblock nav-home %}
                </li>
                <li class="nav-item">
                  {% block nav-createquiz %}<a class="nav-link" href="/quiz_registration">Criar Quiz</a>{% endblock nav-createquiz %}
                </li>
                <li class="nav-item">
                  {% block nav-answerquiz %}<a class="nav-link" href="/quiz_list">Responder Quiz</a>{% endblock nav-answerquiz %}
                </li>
              </ul>
            </nav>
          {% endblock nav %}
            <h3 class="text-muted">Perguntas & Respostas</h3>
            <span style="float: right;">
                {% if user.is_authenticated %}
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Olá, {{ user.username }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}?next=/">Logout</a>
                    </div>
                  </div>
                {% else %}
                  Não está logado. <a href="{% url 'login' %}?next=/">Log in</a>
                {% endif %}
              </span>
          </header>

          <main role="main">
            {% block content %}

            {% endblock content %}
          </main>

          <footer class="footer">
              <p>&copy; Cássio Salvador - 2017</p>
          </footer>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </div>
  </body>
</html>